<h3>ngFor Directive EXP</h3>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>
        {{employee.Id}}
      </td>
      <td>
        {{employee.Name}}
      </td>
      <td>
        {{employee.Sal}}
      </td>
    </tr>
    <tr *ngIf="!employees || employees.Length==0">
      <td colspan="3">
        No Data
      </td>
    </tr>
  </tbody>
</table>
